MYSQL_ROOT_PASSWORD=inlinechat_root
MYSQL_DATABASE=inlinechat
MYSQL_USER=inlinechat
MYSQL_PASSWORD=inlinechat
MYSQL_HOST_PORT=8233
REDIS_HOST_PORT=8236
ETCD_HOST_PORT=8237

CHAT_HTTP_PORT=8202
CHAT_GRPC_PORT=8212
AUTH_GRPC_PORT=8211
ADMIN_GRPC_PORT=8214
REALTIME_HTTP_PORT=8203
GATEWAY_HTTP_PORT=8200
AUTH_HTTP_PORT=8201
ADMIN_HTTP_PORT=8204

CHAT_LOG_LEVEL=info
AUTO_CLOSE_AFTER_SEC=300
REALTIME_LOG_LEVEL=info
GATEWAY_LOG_LEVEL=info
AUTH_LOG_LEVEL=info
ADMIN_LOG_LEVEL=info
GATEWAY_REQUEST_ID_HEADER=X-Request-ID

CHAT_MYSQL_DSN=inlinechat:inlinechat@tcp(mysql:3306)/inlinechat?charset=utf8mb4&parseTime=True&loc=Local
CHAT_MYSQL_MIGRATE_URL=mysql://inlinechat:inlinechat@tcp(mysql:3306)/inlinechat?multiStatements=true&x-migrations-table=schema_migrations_chat
AUTH_MYSQL_DSN=inlinechat:inlinechat@tcp(mysql:3306)/inlinechat?charset=utf8mb4&parseTime=True&loc=Local
AUTH_MYSQL_MIGRATE_URL=mysql://inlinechat:inlinechat@tcp(mysql:3306)/inlinechat?multiStatements=true&x-migrations-table=schema_migrations_auth
ADMIN_MYSQL_DSN=inlinechat:inlinechat@tcp(mysql:3306)/inlinechat?charset=utf8mb4&parseTime=True&loc=Local
ADMIN_MYSQL_MIGRATE_URL=mysql://inlinechat:inlinechat@tcp(mysql:3306)/inlinechat?multiStatements=true&x-migrations-table=schema_migrations_admin

JWT_SECRET=change_me_to_a_long_random_secret
JWT_ISSUER=inlinechat-auth
JWT_EXPIRE=12h
BCRYPT_COST=12
SUPER_ADMIN_EMAIL=superadmin@example.com
SUPER_ADMIN_PASSWORD=Sup3rAdmin#2026!
SUPER_ADMIN_DISPLAY_NAME=超级管理员

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0
WS_ALLOWED_ORIGINS=*

ETCD_ENDPOINTS=etcd:2379
ETCD_DIAL_TIMEOUT_SEC=5
ETCD_REGISTER_TTL_SEC=15
DISCOVERY_PREFIX=/inlinechat/services

CHAT_SERVICE_NAME=chat-service
AUTH_SERVICE_NAME=auth-service
ADMIN_SERVICE_NAME=admin-service
REALTIME_SERVICE_NAME=realtime-service

CHAT_SERVICE_ADVERTISE_GRPC_ENDPOINT=chat-service:8212
AUTH_SERVICE_ADVERTISE_GRPC_ENDPOINT=auth-service:8211
ADMIN_SERVICE_ADVERTISE_GRPC_ENDPOINT=admin-service:8214
REALTIME_SERVICE_ADVERTISE_HTTP_ENDPOINT=http://realtime-service:8203

CHAT_GRPC_DIAL_TIMEOUT_SEC=8
CHAT_GRPC_CALL_TIMEOUT_SEC=8
GRPC_DIAL_TIMEOUT_SEC=8
GRPC_CALL_TIMEOUT_SEC=8
